/*!
 * 

 */

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-top: 10px;
}

.strike > span {
    font-size: 21px;
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #000;
    z-index: -1;
}

.strike > span:before {
    right: 100%;
    margin-right: 30px;
}

.strike > span:after {
    left: 100%;
    margin-left: 30px;
}

.fish_special_text1 {
    color: #808080 !important;
}
.fish_product img {
    margin-bottom: 10px;
}
.fish_product .product_title {
    color: #000;
}

.page_nav {
    height: 80px;
    line-height: 80px;
}


/* filter */
.filter-box {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-top: 1px solid #4d4d4d;
}

.filter-box p {
    margin-bottom: 20px;
}

.filter-box span{
    letter-spacing: 0px;
    color: #666666;
    margin-top: -5px;
}

.filter-box .filter-row{
    height: 13px;
    line-height: 13px;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}

.filter-box .filter-row img{
    float: left;
    margin-top: -3px;
}
.designer {
    height: 285px;
    overflow: scroll;
}

input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label
{
   float: left;
   background: #fff;
   height: 13px;
   width: 13px;
   display:inline-block;
   padding: 0 0 0 0px;
   border: 1px solid #b3b3b3;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   margin-right: 14px;
}

input[type=checkbox]:checked + label
{
    background: #666666;
    height: 13px;
    width: 13px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.used_box {
    width: 100%;
    margin-top: 45px;
}


.product_view {
    height: 500px;
    overflow: hidden;
}

.assess_group {
    height: 220px;
    overflow:scroll;
}
.assess_group span {
    color: #808080;
    font-size: 10px;
}
.assess_group p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}
hr {
    border-top: 1px solid #3c3c3c;
}
.other_recommend span {
    color: #666;
    font-size: 10px;
    letter-spacing: 0;
}


.thumbnail-text {
    height: 90px;
    overflow: hidden;
    text-overflow : ellipsis;
}

.thumbnail-text a p {
    color: #000;
}

.product_shop_title h3{
    margin: 0;
}
.product_shop_title h4{
    margin: 0;
    font-size: 20px;
    color: #4d4d4d;
}

.product_info_content .shop_detail {
    margin: 0;
    font-size: 12px;
    letter-spacing: 0;
}
.product_info_content p {
    font-size: 12px;
    letter-spacing: 0;
}


.QA_box .comment_input {
    height: 60px;
}
.QA_box .btn-gray {
    height: 60px;
    line-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.comment_box hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment_box .comment_date {
    color: #db6653;
    font-size: 12px;
}
.comment_box .comment_title{
    font-size: 14px;
    margin-bottom: 5px;
}
.comment_box .comment_content{
    font-size: 12px;
    margin-bottom: 5px;
}
.comment_box .comment_anwser{
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
}
.comment_box .avatar_name {
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 0px;
    font-size: 18px;
}