@using FishShelter.Models
@{
    string pic = "";
    RoomDetailModels room = new RoomDetailModels()
    {
        photoCount = 7,
        subTitle = "房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置，房間介紹位置",
        roomFacilities = new List<string>()
        {
            "獨立景觀陽台",
            "戶外桌椅",
            "梳妝台"
        }
    };
}
<script src="~/js/room.js"></script>
<div class="gray-bg">
    <div class="container">
        <div id="room-area1" class="room-padding col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="m-b-30 ma5slider inside-navs outside-dots horizontal-navs horizontal-dots anim-fade inside-dots autoplay"
                 data-tempo="4000">
                <div class="slides">
                    說
                    @for (int i = 1; i <= room.photoCount; i++)
                    {
                        {
                            pic = string.Format("/img/301/{0}.jpg", @i);
                        }
                        <img src="@pic" class="img room-pic white-border" style="">
                    }
                </div>
            </div>
            @Html.Partial("Common/_Tabs", room)
        </div>
        <div id="room-area2" class="room-padding col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-20">
            <h4 class="room-title m-t-10 p-b-20">
                <i class="fas fa-fish fa-sm"></i>301海景雙人房
            </h4>
            <div class="m-t-20">
                @room.subTitle
            </div>
            <div class="m-t-20 col-xs-6">
                人數：2人
                <br />
                景觀：3樓海景
                <br />
                平日：<span class="price">3,400元</span>
                <br />
                假日：<span class="price">4,000元</span>
            </div>


            <div class="m-t-40 col-xs-6 text-right">
                <a href="/eflow/ticket/1804060920221886986843" class="btn-blue">
                    <span>立即訂購</span>
                    <i class="fas fa-chevron-right fa-sm"></i>
                </a>
            </div>
            @*<ul class="m-t-20 hidden-sm hidden-xs">
                    <li class="m-b-5">
                        <a href="tel:0224977536">
                            <i class="fas fa-phone" style="font-size: 1.2em;"></i>
                            (02)2497-7536
                        </a>
                    </li>
                    <li class="m-b-5">
                        <a href="http://bit.ly/2yyd4az" target="_blank">
                            <i class="fab fa-line" style="font-size:1.5em"></i>
                            @@rcn3729
                        </a>
                    </li>
                    <li class="m-b-5">
                        <a href="mailto:service@fishhome15.com" target="_blank">
                            <i class="fas fa-envelope fa-lg"></i>
                            service@fishhome15.com
                        </a>
                    </li>
                </ul>*@
        </div>
    </div>
</div>
