<footer class="fish-footer">    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                <ul>
                    <li><a href="">主題館</a></li>
                    <li><a href="">百變穿搭</a></li>
                    <li><a href="">時尚部落</a></li>
                    <li><a href="">流行新訊</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <ul>
                    <li><a href="">MY fish</a></li>
                    <li><a href="">商品退換</a></li>
                    <li><a href="">隱私條款</a></li>
                    <li><a href="">加入我們</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                @*<div class="m-b-20">
                    <a href=""><img src="~/img/fb.png"></a>
                    <a href=""><img src="~/img/ins.png"></a>
                    <a href=""><img src="~/img/youtu.png"></a>
                </div>*@
                <p>&copy; 魚礁十五號 2018</p>
            </div>
        </div>
    </div>
</footer>