
<footer class="footer" id="footer">
    <div class="container p-0">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border-right ">
                <ul>
                    <li style="padding-bottom:10px">
                        <i class="fas fa-fish fa-sm"></i>
                        <span>魚礁十五號民宿</span>
                    </li>
                    <li style="padding-bottom:10px">
                        <span class="gray">電 話：</span>
                        <a href="tel:0224977536">(02)2497-7536</a>
                    </li>
                    <li style="padding-bottom:10px">
                        <span class="gray">信 箱：</span>
                        <a href="mailto:service@fishhome15.com" target="_blank">
                            service@fishhome15.com
                        </a>
                    </li>
                    <li style="padding-bottom:10px">
                        <span class="gray">地 址：</span>
                        <a href="https://www.google.com.tw/maps/place/新北市瑞芳區建基路二段15號" target="_blank">
                            新北市瑞芳區建基路二段15號2樓
                        </a>
                    </li>
                    <li style="padding-bottom:10px">
                        <span class="gray">LINE：</span>
                        <a href="http://bit.ly/2yyd4az" onclick="ga('send', 'event', 'footer-line', '點擊', '文字');" target="_blank">
                            @@rcn3729
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <ul>
                    <li class="text-center">
                        <a href="~/home/about" onclick="ga('send', 'event', 'footer', '點擊', '魚礁故事');">魚礁故事</a>
                    </li>
                    <li class="text-center">
                        <a href="~/home/room" onclick="ga('send', 'event', 'footer', '點擊', '客房介紹');">客房介紹</a>
                    </li>
                    <li class="text-center">
                        <a href="http://bit.ly/2tz3ZrZ" onclick="ga('send', 'event', 'footer', '點擊', '線上訂房');" target="_blank">線上訂房</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 border-right">
                <ul>
                    <li class="text-center">
                        <a href="~/home/notice" onclick="ga('send', 'event', 'footer', '點擊', '訂房須知');">訂房須知</a>
                    </li>
                    <li class="text-center">
                        <a href="~/home/Location" onclick="ga('send', 'event', 'footer', '點擊', '交通指南');">交通指南</a>
                    </li>
                    <li class="text-center">
                        <a href="https://bit.ly/2K5AfgE" target="_blank" onclick="ga('send', 'event', 'footer-fb', '點擊', 'icon');">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                        <a href="http://bit.ly/2JTOp5C" target="_blank" onclick="ga('send', 'event', 'footer-ig', '點擊', 'icon');">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                        <a href="http://bit.ly/2yyd4az" target="_blank" onclick="ga('send', 'event', 'footer-line', '點擊', 'icon');">
                            <i class="fab fa-line fa-lg"></i>
                        </a>
                        <a href="tel:0224977536">
                            <i class="fas fa-phone" style="font-size: 1.15em;"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs animated fadeInRight">
                <ul>
                    <li class="text-right" style="padding-bottom:2px">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E9%AD%9A%E7%A4%81%E5%8D%81%E4%BA%94%E8%99%9F%E6%B0%91%E5%AE%BF-156220058552387%2F&tabs=timeline&width=340&height=120&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=360729594276301"
                                width="340" height="128" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                    </li>
                    <li class="text-center">
                        <span class="gray" style="font-size:10px">
                            © 2018 Fish Home 15. All Rights Reserved
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>