@{
    string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    DateTime st = DateTime.UtcNow.AddHours(8).AddDays(1);
    DateTime end = st.AddDays(1);
    string orderUrl = string.Format("https://booking.owlting.com/d9280bbc-1a53-453b-ba40-9a6e1bd8b752?adult=2&child=0&infant=0&start={0}&end={1}", st.ToString("yyyy-MM-dd"), end.ToString("yyyy-MM-dd"));
}
<!-- /Desktop Nav -->
<div class="hidden-xs header">
    <nav class="navbar navbar-inverse" role="navigation"
         style="background-color:#fff; box-shadow: 1px 1px 1px rgba(0,0,0,0.15)">
        <div class="container">
            <div class="logo hidden-xs" style="float: left;">
                <a href="~/home/index">
                    <img src="~/img/logo.png" style="height:35px;margin-top:4px">
                </a>
            </div>
            <div class="nav desktop-nav hidden-xs" style="float: right;">
                <ul class="m-b-0" style="padding:18px 0">
                    <li>
                        <a href="~/home/about" @if (action == "about") { <text> class="active" </text> }
                           onclick="trigger('pc-navbar', '點擊', '魚礁故事');">
                            魚礁故事
                        </a>
                    </li>
                    <li>
                        <a href="~/home/room" @if (action == "room" || controller == "room") { <text> class="active" </text> }
                           onclick="trigger('pc-navbar', '點擊', '客房介紹');">
                            客房介紹
                        </a>
                    </li>

                    <li>
                        <a href="~/home/notice" @if (action == "notice") { <text> class="active" </text> }
                           onclick="trigger('pc-navbar', '點擊', '訂房須知');">
                            訂房須知
                        </a>
                    </li>
                    <li>
                        <a href="~/home/Location" @if (action == "location") { <text> class="active" </text> }
                           onclick="trigger('pc-navbar', '點擊', '交通指南');">交通指南</a>
                    </li>
                    <li>
                        <a href="~/home/tv" @if (action == "tv" || controller == "tv") { <text> class="active" </text> }
                           onclick="trigger('pc-navbar', '點擊', '節目推薦');">
                            節目推薦
                        </a>
                    </li>
                    <li>
                        <a href="@orderUrl" target="_blank">線上訂房</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- mobile nav -->
<nav class="navbar navbar-inverse hidden-lg hidden-md hidden-sm m-b-0" role="navigation" style="background-color: #339dca;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="col-xs-9">
                <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="~/home/index">
                    <img src="~/img/logo.png" class="m-t-5">
                </a>
            </div>
            <div class="col-xs-3 p-0 text-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse hidden-lg hidden-md" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="~/home/about" onclick="trigger('mobile-navbar', '點擊', '魚礁故事');">
                        <i class="fas fa-fish fa-sm"></i>魚礁故事
                    </a>
                </li>
                <li>
                    <a href="~/home/room" onclick="trigger('mobile-navbar', '點擊', '客房介紹');">
                        <i class="fas fa-fish fa-sm"></i>客房介紹
                    </a>
                </li>
                <li>
                    <a href="~/home/notice" onclick="trigger('mobile-navbar', '點擊', '訂房須知');">
                        <i class="fas fa-fish fa-sm"></i>訂房須知
                    </a>
                </li>
                <li>
                    <a href="~/home/Location" onclick="trigger('mobile-navbar', '點擊', '交通指南');">
                        <i class="fas fa-fish fa-sm"></i>交通指南
                    </a>
                </li>
                <li>
                    <a href="@orderUrl" onclick="trigger('mobile-navbar', '點擊', '線上訂房');" target="_blank">
                        <i class="fas fa-fish fa-sm"></i>線上訂房
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

