@*<div class="logo hidden-xs">
        <img src="~/img/logo.png" style="height:50px">
    </div>*@
<div class="hidden-xs">
    <nav class="navbar navbar-inverse" role="navigation"
         style="background-color:#fff; box-shadow: 1px 1px 1px rgba(0,0,0,0.1)">
        <div class="container">
            <div class="logo hidden-xs" style="float: left;">
                <a href="~/home/index">
                    <img src="~/img/logo.png" style="height:40px;margin-top:4px">
                </a>
            </div>
            <!-- Desktop Nav -->
            <div class="nav desktop-nav hidden-xs" style="float: right;">
                <ul style="margin-bottom: 0px;height: 55px;line-height: 55px;">
                    <li>
                        <a href="#">時尚部落</a>
                    </li>
                    <li>
                        <a href="#">流行新訊</a>
                    </li>
                    <li>
                        <a href="#">fish TV</a>
                    </li>
                    <li>
                        <a href="#">MY fish</a>
                    </li>
                </ul>
            </div>
            <!-- /Desktop Nav -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">
                    <img src="~/img/logo.png">
                </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>

<nav class="navbar navbar-inverse hidden-lg hidden-md hidden-sm m-b-0" role="navigation" style="background-color: #006D98;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">
                <img src="~/img/logo.png" style="margin-top:-5px">
            </a>
        </div>
        <!-- mobile nav -->
        <div class="collapse navbar-collapse hidden-lg hidden-md" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">主題館 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">設計館</a>
                        </li>
                        <li>
                            <a href="">聯名設計館</a>
                        </li>
                        <li>
                            <a href="">品牌館</a>
                        </li>
                        <li>
                            <a href="">所有商品</a>
                        </li>
                        <li>
                            <a href="">品牌列表</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">時尚部落</a>
                </li>
                <li>
                    <a href="">流行新訊</a>
                </li>
                <li>
                    <a href="">fish TV</a>
                </li>
                <li>
                    <a href="">MY fish</a>
                </li>
            </ul>
        </div>
        <!-- /mobile nav -->
    </div>
    <!-- /.container -->
</nav>