@{
    string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    string url = Request.Url.AbsoluteUri;
}
<div class="hidden-xs header">
    <nav class="navbar navbar-inverse" role="navigation"
         style="background-color:#fff; box-shadow: 1px 1px 1px rgba(0,0,0,0.15)">
        <div class="container">
            <div class="logo hidden-xs" style="float: left;">
                <a href="~/home/index">
                    <img src="~/img/logo.png" style="height:40px;margin-top:4px">
                </a>
            </div>
            <!-- Desktop Nav -->
            <div class="nav desktop-nav hidden-xs" style="float: right;">
                <ul style="margin-bottom: 0px;height: 55px;line-height: 55px;">
                    <li>
                        <a href="~/home/about" @if (action == "about") { <text> class="active" </text>       }>
                            魚礁故事
                        </a>
                    </li>
                    <li>
                        <a href="~/home/room" @if (action == "room" || controller == "room") { <text> class="active" </text>     }>
                            客房介紹
                        </a>
                    </li>
                    <li>
                        <a href="~/home/notice" @if (action == "notice") { <text> class="active" </text>      }>
                            訂房須知
                        </a>
                    </li>
                    <li>
                        <a href="~/home/Location" @if (action == "location") { <text> class="active" </text>      }>交通指南</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="$('html, body').scrollTop(99999);" >聯絡我們</a>
                    </li>
                    <li>
                        <a href="http://bit.ly/2tz3ZrZ" target="_blank">線上訂房</a>
                    </li>
                </ul>
            </div>
            <!-- /Desktop Nav -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<nav class="navbar navbar-inverse hidden-lg hidden-md hidden-sm m-b-0" role="navigation" style="background-color: #006D98;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="col-xs-9">
                <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="~/home/index">
                    <img src="~/img/logo.png">
                </a>
            </div>
            <div class="col-xs-3 p-0 text-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <!-- mobile nav -->
        <div class="collapse navbar-collapse hidden-lg hidden-md" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="~/home/about">- 魚礁故事</a>
                </li>
                <li>
                    <a href="~/home/room">- 客房介紹</a>
                </li>
                <li>
                    <a href="~/home/notice">- 訂房須知</a>
                </li>
                <li>
                    <a href="~/home/Location">- 交通指南</a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="$('html, body').scrollTop(99999);">聯絡我們</a>
                    </li>
                <li>
                    <a href="http://bit.ly/2tz3ZrZ" target="_blank">- 線上訂房</a>
                </li>
            </ul>
        </div>
        <!-- /mobile nav -->
    </div>
    <!-- /.container -->
</nav>