<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="subject" content="魚礁十五號 基隆民宿/瑞芳民宿" />
    <meta name="description" content="位在東北角海岸，耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。" />
    <meta name="author" content="">
    <meta name="copyright" content="Copyright © 2018 Fish Home 15. All Rights Reserved" />
    <meta property="og:title" content="魚礁十五號民宿" />
    <meta property="og:url" content="http://www.fishhome15.com" />
    <meta property="og:description" content="位在東北角海岸，耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。" />
    <meta property="og:image" content="http://www.fishhome15.com/img/fb.jpg" />
    <meta property="og:type" content="website" />
    <title>魚礁十五號 基隆民宿/瑞芳民宿</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109273357-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109273357-2');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '284155798992346');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=284155798992346&ev=PageView&noscript=1" />
    </noscript>

    @Html.Partial("_Include")
</head>
<body>
    @Html.Partial("_Header")
    <h1 style="display:none">瑞芳民宿,基隆民宿,基隆住宿,瑞芳住宿,永遠是晴天</h1>
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>

