<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="subject" content="魚礁十五號－基隆民宿/瑞芳民宿" />
    <meta name="description" content="耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。" />
    <meta name="robots" content="all" />
    <meta name="spiders" content="all" />
    <meta name="webcrawlers" content="all" />
    <meta name="copyright" content="Copyright © 2018 Fish Home 15. All Rights Reserved" />
    <meta property="og:title" content="魚礁十五號－基隆民宿/瑞芳民宿" />
    <meta property="og:url" content="http://www.fishhome15.com" />
    <meta property="og:description" content="耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。" />
    <meta property="og:image" content="http://www.fishhome15.com/img/fb.jpg" />
    <meta property="og:image:alt" content="魚礁十五號民宿" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="2150880151855774" />
    <title>魚礁十五號－基隆民宿/瑞芳民宿</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png" />
    <!-- 由 Google 結構化資料標記協助工具產生的 JSON-LD 標記。 -->
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "LocalBusiness",
        "name" : "魚礁十五號－基隆民宿/瑞芳民宿",
        "description" : "耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。",
        "image": [
        "http://www.fishhome15.com/img/room/601.jpg",
        "http://www.fishhome15.com/img/room/301.jpg",
        "http://www.fishhome15.com/img/room/401.jpg"
        ],
        "telephone" : "0908-203-789",
        "email" : "service@fishhome15.com",
        "address" :{
        "@@type": "PostalAddress",
        "streetAddress" : "新北市瑞芳區建基路二段15號2樓",
        "addressLocality": "瑞芳區",
        "addressRegion": "新北市",
        "postalCode": "224",
        "addressCountry": "台灣"
        },
        "geo":{
        "@@type": "GeoCoordinates",
        "latitude": 25.133098,
        "longitude": 121.807194
        },
        "url" : "http://www.fishhome15.com",
        "priceRange" : "$2,100 - $5,100"
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109273357-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109273357-2');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '284155798992346');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=284155798992346&ev=PageView&noscript=1" />
    </noscript>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MSD2TVT');</script>
    <!-- End Google Tag Manager -->
    @Html.Partial("_Include")

</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="156220058552387"
         theme_color="#3088d3"
         greeting_dialog_display="hide"
         logged_in_greeting="嗨~有任何問題都可以詢問喔"
         logged_out_greeting="嗨~有任何問題都可以詢問喔">
    </div>


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSD2TVT"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Partial("_Header")
<h1 style="display:none">瑞芳民宿,基隆民宿,基隆住宿,瑞芳住宿,基隆訂房,瑞芳訂房,瑞芳民宿包棟,八斗子民宿,基隆民宿包棟,基隆包棟民宿,基隆包棟,玻璃屋</h1>
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>
