<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="subject" content="魚礁十五號民宿" />
    <meta name="description" content="耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。" />
    <meta name="author" content="">
    <meta name="copyright" content="Copyright © 2018 Fish Home 15. All Rights Reserved" />
    <meta property="og:title" content="魚礁十五號民宿" />
    <meta property="og:url" content="http://www.fishhome15.com" />
    <meta property="og:description" content="耗時五年設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。" />
    <meta property="og:image" content="http://www.fishhome15.com/img/fb.jpg" />
    <meta property="og:type" content="website" />
    @*<meta property="fb:app_id" content="" />*@


    <title>魚礁十五號民宿</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png" />
    @Html.Partial("_Include")
</head>
<body>
    @Html.Partial("_Header")
    <h1 style="display:none">瑞芳民宿,基隆民宿,基隆住宿,基隆廟口,基隆景點,基隆美食,基隆車站,潮境公園,八斗子,海科館,星空草原,九份,瑞芳,永遠是晴天</h1>
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>

