<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="subject" content="魚礁十五號" />
    <meta name="description" content="位在東北角海岸的魚礁十五號，讓您來到這裡，就像回到溫馨的家；走出陽台，映入眼簾的是一片蔚藍的大海，海風輕輕吹來，陽光灑落海面，輕柔規律的浪濤聲，帶您遠離都市喧囂，享受這刻的寧靜" />
    <meta name="author" content="">
    <meta name="copyright" content="© 2018 Fish Home 15. All Rights Reserved" />
    <meta property="og:title" content="魚礁十五號" />
    <meta property="og:url" content="http://fishhome15.azurewebsites.net" />
    <meta property="og:description" content="位在東北角海岸的魚礁十五號，讓您來到這裡，就像回到溫馨的家；走出陽台，映入眼簾的是一片蔚藍的大海，海風輕輕吹來，陽光灑落海面，輕柔規律的浪濤聲，帶您遠離都市喧囂，享受這刻的寧靜" />
    <meta property="og:image" content="http://fishhome15.azurewebsites.net/img/room/301.jpg" />

    <title>魚礁十五號</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png" />
    @Html.Partial("_Include")
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>

