<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="subject" content="魚礁十五號民宿" />
    <meta name="description" content="座落在東北角海岸的魚礁十五號，背山面海，民宿主人歷經五年的時間，打造出這個舒適的空間，每一磚每一瓦，都是由他親自監工與設計，處處都能感受到他的用心與巧思，希望您來到這裡，就像回到溫馨的家中。" />
    <meta name="author" content="">
    <meta name="copyright" content="Copyright © 2018 Fish Home 15. All Rights Reserved" />
    <meta property="og:title" content="魚礁十五號民宿" />
    <meta property="og:url" content="http://www.fishhome15.com" />
    <meta property="og:description" content="座落在東北角海岸的魚礁十五號，背山面海，民宿主人歷經五年的時間，打造出這個舒適的空間，每一磚每一瓦，都是由他親自監工與設計，處處都能感受到他的用心與巧思，希望您來到這裡，就像回到溫馨的家中。" />
    <meta property="og:image" content="http://www.fishhome15.com/img/fb.jpg" />
    <meta property="og:type" content="website" />
    @*<meta property="fb:app_id" content="" />*@


    <title>魚礁十五號民宿</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png" />
    @Html.Partial("_Include")
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>

