
<style>
    h4 {
        line-height: 2em;
    }
</style>
<div class="gray-bg">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 p-0">

            <h3 class="m-t-0 m-b-30 text-center">
                <i class="fas fa-fish fa-sm"></i>魚礁故事
            </h3>
            <!--第一段-->
            <img src="~/img/about/1.jpg" class="m-b-20" style="width:100%;border-radius:5px">
            <h4 class="m-b-0" style="color: #339dca;">
                <b>
                    你觀察魚，魚也會觀察你
                </b>
            </h4>
            <h4 class="m-t-0 m-b-30">
                耗時五年親自監工設計打造出來的魚礁十五號民宿，不僅溫馨舒適且極度重視人與山海美景互動的空間，為來自世界與台灣各地熱愛海洋與自然的旅人們，提供輕快溫馨的棲地。旅人們游向濱海步道與貝殼砂，游向潮境公園與水金九山城，再短短游回來魚礁十五號吐泡泡，或者像魚一樣停在魚礁的任何地方，用一整天看路、看山、看大海；人說山中無甲子，或許海底更解憂。
            </h4>
            <!--第二段-->
            <img src="~/img/about/2.jpg" class="m-b-20 animated fadeInUp" style="width:100%;border-radius:5px">
            <h4 class="m-b-0" style="color: #339dca;">
                <b>
                    人生從不相同，建築也是
                </b>
            </h4>
            <h4 class="m-t-0 m-b-30">
                魚礁是海中魚類居住的地方，魚兒們會群聚在這裡棲息覓食，魚礁十五號的設計靈感來自不規則狀的魚礁，每層樓的每個房間都是由賴大哥設計出不同的結構，圓弧狀的玻璃陽台、氣泡型的落地窗、潔白的洗石子、原住民圖騰發想的馬賽克拼貼和摹仿熱帶魚的室內配色，每一個小細節都不重複，處處顯現自建海洋民宿的單純用心。
            </h4>
            <img src="~/img/about/3.jpg" class="m-b-20 animated fadeInLeft" style="width:100%;border-radius:5px">
            <!--第三段-->
            <h4 class="m-b-0" style="color: #339dca;">
                <b>
                    換個方式呼吸，生活就會像旅行
                </b>
            </h4>
            <h4 class="m-t-0 m-b-30">
                熱愛潛水的賴大哥是土生土長的基隆男兒，他用最淳樸的目光看望台灣北海岸的蔚藍三十年，從魚到水、從山到海、從洋流到潮汐。魚礁十五號是他詮釋在地海岸的方式——純淨、多彩、不做作。
            </h4>
        </div>
    </div>
</div>