<div class="gray-bg">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

            <h3 class="m-t-0 m-b-30 text-center">
                <i class="fas fa-fish fa-sm"></i>魚礁故事
            </h3>
            <img src="~/img/about.jpg" class="m-b-20" style="width:100%;border-radius:4px">
            <h4 class="m-b-0" style="line-height: 1.8em;color: #339dca;"> 
                <b>
                    「魚礁」是魚的庇護所，也是舒適安全的家
                </b>
            </h4>
            <h4 class="m-t-0 m-b-30" style="line-height: 1.8em;">
                座落在東北角海岸的魚礁十五號，背山面海，民宿主人歷經五年的時間，打造出這個舒適的空間，每一磚每一瓦，都是由他親自監工與設計，處處都能感受到他的用心與巧思，希望您來到這裡，就像回到溫馨的家中。
                <br />
                海風徐徐輕拂，伴著規律輕柔的浪濤聲，帶您遠離日常的喧囂紛擾，感受這片刻的寧靜。白天醒來映入眼簾是一片蔚藍大海，傍晚夕陽西下，金色光芒照耀海面，晚上抬頭便能看見滿天星斗。
                為自己安排一趟慢活旅程，享受悠閒恬靜的渡假生活！
            </h4>
            <img src="~/img/fish-pic.jpg" class="m-b-20" style="width:100%;border-radius:4px">
            <h4 class="m-b-0" style="line-height: 1.8em;color: #339dca;"> 
                <b>
                    經營一個理想，分享快樂
                </b>
            </h4>
            <h4 class="m-t-0 m-b-30" style="line-height: 1.8em;">
                民宿主人賴大哥，身為在地的基隆人，海洋陪伴著他成長，對他而言海洋是另外一個歸屬。當賴大哥決定開民宿，就是想創造一方天地，讓民宿成為媒介分享他最愛的潛水外，也想讓大家發現海洋之美，「魚礁十五號」就此誕生！
            </h4>
            <img src="~/img/book_cup.jpg" class="m-b-10" style="width:100%;border-radius:4px">
        </div>
    </div>
</div>