<div class="gray-bg">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

            <h3 class="m-t-0 m-b-30 text-center">
                <i class="fas fa-fish fa-sm"></i>魚礁故事
            </h3>
            <img src="~/img/about.jpg" class="m-b-20" style="width:100%;border-radius:4px">
            <h4>
                <b>
                    「魚礁」是魚的庇護所，也是舒適安全的家
                </b>
            </h4>
            <h4 class="m-b-30" style="line-height: 1.8em;">
                位在東北角海岸的魚礁十五號，讓您來到這裡，就像回到溫馨的家；走出陽台，映入眼簾的是一片蔚藍的大海，海風輕輕吹來，陽光灑落海面，輕柔規律的浪濤聲，帶您遠離都市喧囂，享受這刻的寧靜。
            </h4>
            <img src="~/img/fish-pic.jpg" class="m-b-20" style="width:100%;border-radius:4px">
            <h4 class="m-t-20">
                <b>
                    經營一個理想，分享快樂
                </b>
            </h4>
            <h4 class="m-b-30" style="line-height: 1.8em;">
                民宿主人賴大哥身為在地的基隆人，海洋陪伴著他成長，對他而言海洋是另外一個歸屬。賴大哥決定開民宿，就是想創造一方天地，讓民宿成為媒介，分享最愛的潛水外，也想讓大家發現海洋之美，「魚礁十五號」就此誕生。
            </h4>
            <img src="~/img/book_cup.jpg" class="m-b-10" style="width:100%;border-radius:4px">
        </div>
    </div>
</div>