<style>
    #box1 {
        height: 20vh;
        width: 100%;
        background-image: url(https://i.ytimg.com/vi/mm_M7TE2qJ0/maxresdefault.jpg);
        background-size: cover;
        display: table;
        background-attachment: fixed;
    }
</style>

<div class="row" style="height:2000px">
    <!-- 品牌精神 -->
    <div id="box1" class="col-xs-12 p-0 m-t-60 p-t-40 p-b-40">
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
            &ensp;
        </div>
        <div class="col-lg-2 col-md-8 col-sm-3 col-xs-12 text-center">
            <img src="~/img/father.jpg" id="boss" class="m-l-15 m-r-15">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
            <p class="p-l-15 p-r-15" id="about">
                「民宿主人賴大哥身為在地的基隆人，海洋陪伴著他成長，對他而言海洋是另外一個歸屬。賴大哥決定開民宿，就是想創造一方天地，讓民宿成為媒介，分享最愛的潛水外，也想讓大家發現海洋的美。」
            </p>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
            &ensp;
        </div>
    </div>
</div>