@using FishShelter.Service
@using FishShelter.Models
@{
    string pic = "";
    RoomService RoomService = new RoomService();
    List<RoomModels> rooms = RoomService.GetData();
}
<style>
    .fa-fish:before {
        color: #339dca !important;
        margin-right: -5px !important;
    }
</style>
<div class="row">

    <!-- Slder -->
    <div class="m-b-0 ma5slider inside-navs outside-dots horizontal-navs horizontal-dots anim-fade inside-dots autoplay"
         data-tempo="5000" style="background-image:url(../img/gray_bg.jpg);background-size: cover;">
        <div class="slides">
            @for (int i = 1; i <= 6; i++)
            {
                {
                    pic = string.Format("{0}.jpg", @i);
                }
                <a href="#slide-1">
                    <img src="~/img/slider/@pic" alt="基隆民宿">
                </a>
            }
        </div>
    </div>
    <!-- 品牌精神 -->
    <div class="col-xs-12 p-0 p-t-40 p-b-40" style="background-image:url(../img/gray_bg.jpg);background-size: cover;">
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
            &ensp;
        </div>
        <div class="col-lg-2 col-md-8 col-sm-3 col-xs-12 text-center">
            <img src="~/img/father.jpg" id="boss" class="m-l-15 m-r-15">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
            <p class="p-l-15 p-r-15 m-t-20 m-b-0" id="about">
                「民宿主人賴大哥，身為在地的基隆人，海洋陪伴著他成長，對他而言海洋是另外一個歸屬。當賴大哥決定開民宿，就是想創造一方天地，讓民宿成為媒介分享他最愛的潛水外，也想讓大家發現海洋之美！」
            </p>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
            &ensp;
        </div>
    </div>
    <!-- 房間 -->
    <div class="col-xs-12 p-0 p-l-15 p-r-15 animated fadeInUp" style="background-image:url(../img/gray_bg.jpg);background-size: cover;">
        @foreach (var r in rooms)
        {
            pic = string.Format("/img/room/{0}.jpg", r.id);
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div style="overflow: hidden;position: relative;">
                    <a href="~/room/index?id=@r.id">
                        <img src="@pic" alt="@r.id@r.name" class="img-hover room-pic m-b-30">
                        <p class="room-text">
                            @r.id@r.name
                        </p>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="col-xs-12 p-0 p-t-20 p-b-40 text-center">
        <h3 class="m-b-30" style="color: #339dca;font-weight:bold">
            <i class="fas fa-fish fa-sm"></i>
            節目推薦
        </h3>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
            <iframe id="youtube" src="http://www.youtube.com/embed/s87jAQ26kK0?start=869" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="m-t-40 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
            <iframe id="youtube" src="http://www.youtube.com/embed/QXtPUHsafsw?start=2490" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="m-t-40 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
            <iframe id="youtube" src="http://www.youtube.com/embed/5IFHIlirTKQ?start=1508" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-xs-12 p-0 p-t-20 p-b-40 text-center" style="background-image:url(../img/gray_bg.jpg);background-size: cover;">
        <h3 class="m-b-30" style="color: #339dca;font-weight:bold">
            <i class="fas fa-fish fa-sm"></i>
            魚礁消息
        </h3>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffishhome15%2Fposts%2Fpfbid034J1gN2vSwQPqQAJpn4pwoPfaBHEc7rPc2yXy53FgN32695otPN5kCLzh1ks2kqyyl&show_text=true&width=500" width="500" height="569" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>
