
<div class="container">
    <div id="tabs" class="room col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style="background-image:none">
        <img src="~/img/book_cup.jpg" class="m-b-40" style="width:100%;border-radius:4px">
        <ul>
            <li>
                <a href="#tabs-2">
                    入住須知
                </a>
            </li>
            <li>
                <a href="#tabs-3">
                    訂房須知
                </a>
            </li>
        </ul>
        <div id="tabs-2">
            @Html.Partial("~/Views/Room/Common/_Notice.cshtml")
        </div>
        <div id="tabs-3">
            @Html.Partial("~/Views/Room/Common/_Reservation.cshtml")
        </div>
    </div>
</div>