@using FishShelter.Service
@using FishShelter.Models
@{
    string pic = "";
    RoomService RoomService = new RoomService();
    List<RoomModels> rooms = RoomService.GetData();
}
<div class="gray-bg">
    <div class="container">

        <h3 class="m-t-0 m-b-40 text-center">
            <i class="fas fa-fish fa-sm"></i>客房介紹
        </h3>
        @foreach (var r in rooms)
            {
                pic = string.Format("/img/room/{0}.jpg", r.id);
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div style="overflow: hidden;position: relative;">
                    <a href="~/room/detail?id=@r.id">
                        <img src="@pic" alt="@r.id@r.name" class="img-hover room-pic m-b-30">
                        <p class="room-text">
                            @r.id@r.name
                        </p>
                    </a>
                </div>
            </div>
        }
    </div>
</div>