

<div class="gray-bg">
    <div class="container">

        <h3 class="m-t-0 m-b-30 text-center">
            <i class="fas fa-fish fa-sm"></i>節目推薦
        </h3>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
            <iframe id="youtube" src="http://www.youtube.com/embed/s87jAQ26kK0?start=869" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="m-t-40 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
            <iframe id="youtube" src="http://www.youtube.com/embed/QXtPUHsafsw?start=2490" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="m-t-40 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
            <iframe id="youtube" src="http://www.youtube.com/embed/5IFHIlirTKQ?start=1508" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>