

<div class="gray-bg">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 p-0">

            <h3 class="m-t-0 m-b-30 text-center">
                <i class="fas fa-fish fa-sm"></i>旅遊節目大力推薦
            </h3>

            <div style="width:818px;margin: auto;">
                <iframe id="youtube" src="http://www.youtube.com/embed/QXtPUHsafsw?start=2490" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="m-t-40" style="width:818px;margin: auto;">
                <iframe id="youtube" src="http://www.youtube.com/embed/5IFHIlirTKQ?start=1508" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>