@model List<string>

<ul class="p-l-0">
    <li>住宿日前14日取消訂房者，可退回全部訂金</li>
    <li>住宿日前10日至13日取消訂房者，可退回70%訂金</li>
    <li>住宿日前7日至9日取消訂房者，可退回50%訂金</li>
    <li>住宿日前4日至6日取消訂房者，可退回40%訂金</li>
    <li>住宿日前2日至3日取消訂房者，可退回30%訂金</li>
    <li>住宿日前1日取消訂房者，可退回20%訂金</li>
    <li>住宿日當天不退還訂金</li>
</ul>