<ul class="m-t-20 hidden-sm hidden-xs">
    <li class="m-b-5">
        <a href="tel:0224977536">
            <i class="fas fa-phone" style="font-size: 1.2em;"></i>
            (02)2497-7536
        </a>
    </li>
    <li class="m-b-5">
        <a href="http://bit.ly/2yyd4az" target="_blank">
            <i class="fab fa-line" style="font-size:1.5em"></i>
            @@rcn3729
        </a>
    </li>
    <li class="m-b-5">
        <a href="mailto:service@fishhome15.com" target="_blank">
            <i class="fas fa-envelope fa-lg"></i>
            service@fishhome15.com
        </a>
    </li>
</ul>