<ul class="m-t-20 hidden-sm hidden-xs">
    <li class="clearfix">
        <a href="tel:0224977536">
            <i class="fas fa-phone fa-lg"></i>
            <div class="" style="display:inline;vertical-align: middle;">
                (02)2497-7536
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="http://bit.ly/2yyd4az" target="_blank">
            <i class="fab fa-line" style="font-size:1.6em"></i>
            <div class="" style="display:inline;vertical-align: middle;">
                @@rcn3729
            </div>
        </a>
    </li>
    <li class="clearfix">
        <a href="mailto:xxxxx@yahoo.com.tw" target="_blank">
            <i class="fas fa-envelope fa-lg"></i>
            <div class="" style="display:inline;vertical-align: middle;">
                fish@gmail.com
            </div>
        </a>
    </li>
</ul>