

<label class="m-t-0">進房、退房時間</label>
<ul class="p-l-0">
    <li>進房：下午04:00後</li>
    <li>退房：上午11:00前</li>
</ul>

<label class="m-t-0">注意事項</label>
<ul class="p-l-0">
    <li>為維護住宿品質，請依房型規定人數入住，如需加床服務，請事先來電詢問（因部分房型無法加床）</li>
    <li>恕不接受現場入住人數超過您所訂之房型人數，若超過每人將酌收2000元</li>
    <li>如遇颱風、地震等天災，經當地縣政府或旅客所在地政府，發佈停止上班上課，可退還訂金或保留訂金一年擇期入住</li>
    <li>室內全面禁菸、酗酒、吃檳榔、吸毒、賭博，違者將依法處理</li>
    <li>請勿私自帶走民宿內所有的物品，除拋棄式備品外</li>
    <li>請勿在房內使用瓦斯爐、電磁爐等易燃及危險物品</li>
    <li>請勿攜帶寵物入住</li>
    <li>逾時退房，每小時加收500元</li>
    <li>貴重物品請妥善保管，如有遺失恕不負責</li>
    <li>請愛惜使用民宿內各項設備，未經同意不得隨意搬動或移置</li>
    <li>使用廚房後需歸回原狀</li>
    <li>出門時請隨手關燈、關冷氣、及節約用水</li>
    <li>若有訪客請告知管家，並於大廳會客，不得任意進入房間及留宿</li>
    <li>晚上10點以後勿大聲喧嘩，以免影響其他旅客及周遭鄰居安寧</li>
    <li>可接待兒童為6歲以上，不便之處敬請見諒</li>
    <li>若違反上述規範，本民宿有拒絕入住之權力，訂金將不予退還</li>
</ul>