

<label class="m-t-0">進房、退房時間</label>
<ul class="p-l-0">
    <li>進房：下午04:00後</li>
    <li>退房：上午11:00前</li>
</ul>

<label class="m-t-0">注意事項</label>
<ul class="p-l-0">
    <li>入住時請記得出示證件，以便辦理登記</li>
    <li>請依房型人數入住，如需加人請事先告知</li>
    <li>如遇颱風、地震等天災，經當地縣政府或旅客所在地政府，發佈停止上班上課，可退還訂金或保留訂金一年擇期入住</li>
    <li>室內全面禁菸、酗酒、吃檳榔、吸毒、賭博，違者將依法處理</li>
    <li>請勿私自帶走民宿內所有的物品，除拋棄式備品外</li>
    <li>禁止在房內使用瓦斯爐、電磁爐等易燃及危險物品</li>
    <li>禁止攜帶寵物入住</li>
    <li>逾時退房，每小時加收500元</li>
    <li>加一條棉被，需收取100元</li>
    <li>貴重物品請妥善保管，如有遺失恕不負責</li>
    <li>請愛惜使用民宿內各項設備，未經同意不得隨意搬動或移置</li>
    <li>使用廚房後需歸回原狀</li>
    <li>出門時請隨手關燈、關冷氣、及節約用水</li>
    <li>請妥善保管鑰匙，退房時請記得歸還</li>
    <li>若有訪客請告知管家，於大廳會客不得任意進入房間及留宿</li>
    <li>晚上10點以後勿大聲喧嘩，以免影響其他旅客及周遭鄰居安寧</li>
    <li>可接待兒童為6歲以上，不便之處敬請見諒</li>
</ul>