
<label class="m-t-0">取消政策</label>
<div>
    免費取消期限截止於入住日前7日。若於「入住日前7日」後需要取消訂房，顧客需支付預訂總金額的100%。
    如顧客未如期入住，將收取預訂總金額全額。
</div>

<label class="m-t-20">改期政策</label>
<div>
    入住日前7日之前可以免費改期，入住日前7日之後，若顧客臨時改期，視同取消將收取全額費用。
</div>