
@*<ul class="p-l-0">
    <li>訂房後請於3日內預付房價30%訂金，若於保留時間內未收到匯款將自動取消</li>
    <li>匯款完成後請以<a href="tel:0908203789">電話</a>、<a href="http://bit.ly/2yyd4az" target="_blank">Line</a>或<a href="https://bit.ly/2K5AfgE" target="_blank">FB粉絲專頁</a>告知匯款人姓名、帳號末五碼</li>
    <li>如遇颱風、地震等天災，經當地縣政府或旅客所在地政府，發佈停止上班上課，可退還訂金或保留訂金三個月擇期入住</li>
</ul>*@

@*<label class="m-t-0">匯款資訊</label>
<ul class="p-l-0">
    <li>匯款銀行：基隆第一信用合作社</li>
    <li>銀行代號：114</li>
    <li>戶　　名：賴國輝</li>
    <li>帳　　號：0088210018509</li>
</ul>*@
<label class="m-t-0">取消訂房</label>
<ul class="p-l-0">
    <li>住宿日前14日取消訂房者，可退回全部訂金</li>
    <li>住宿日前10日至13日取消訂房者，可退回70%訂金</li>
    <li>住宿日前7日至9日取消訂房者，可退回50%訂金</li>
    <li>住宿日前4日至6日取消訂房者，可退回40%訂金</li>
    <li>住宿日前2日至3日取消訂房者，可退回30%訂金</li>
    <li>住宿日前1日取消訂房者，可退回20%訂金</li>
    <li>住宿日當天不退還訂金</li>
</ul>