@model List<string>
<label class="m-t-0">客房設備</label>
<ul class="p-l-0">
    <li>獨立筒雙人床</li>
    <li>羽絨被</li>
    <li>液晶電視</li>
    <li>分離式冷、暖氣</li>
    <li>無線網路Wi-Fi</li>
    <li>衛浴設備</li>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
    <li>盥洗用品(沐浴乳、洗髮精、浴巾、浴帽、刮鬍刀、牙刷)</li>
    <li>吹風機</li>
    <li>衣架</li>
    <li>茶包、咖啡包、礦泉水</li>
</ul>