@model List<string>
<label class="m-t-0">客房設施</label>
<ul class="p-l-0">
    <li>附早餐</li>
    <li>獨立筒床墊</li>
    <li>羽絨被</li>
    <li>液晶電視</li>
    <li>分離式冷暖氣</li>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
    <li>wifi無線網路</li>
    <li>衛浴設備</li>
    <li>盥洗用品(含沐浴乳、洗髮精、浴巾、浴帽、刮鬍刀、牙刷)</li>
    <li>吹風機</li>
    <li>衣架</li>
    <li>茶包、咖啡包、礦泉水</li>
</ul>